/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin gaiatheme {
  /* Include all the styles from the reindeer theme */
  @include valo;

  /* Insert your theme rules here */

.logingaia-label {
   color: #006600;
   font-size: 55px;
   font-style: bold;
   line-height: normal;
}

.logintoppanel
{
   background: #eeeeee;
}

.loginmiddlepanel
{
   background: #bbb;
}

.redBackground
{
	background: red;
}

.blueBackground
{
	background: blue;
}

.yellowBackground
{
	background: yellow;
}

}
